* {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background: #eee;
    padding: 0px 150px;
}

.menu {
    background-color: #ff3f10;
    height: 58px;
    border-top-left-radius: 20px;  
    border-top-right-radius: 20px;
}

.menu ul {
    list-style-type: none;
    top: 0;
}

.menu li {
    float: left;
    font-size: 20px;
}

.menu li a {
    display: inline-block;
    color: #eee;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.menu li a:hover {
    background-color: #eee;
    color: #ff3f10;
}

.container {
    height: 700px;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../img/endava-bg.jpg");
    background-position: center;
    background-size: cover;
}

.text {
    padding-left: 350px;
    padding-top: 100px;
    width: 825px;
    text-align: center;
    font-size: 78px;
    color: #eee;
}

.footer {
    height: 250px;
    padding-left: 20px;
    padding-right: 20px;
    background: #ff3f10;
    border-bottom-left-radius: 20px;  
    border-bottom-right-radius: 20px;
}

.footer-col {
    padding: 15px;
    width: 380px;
    float: left;
}

.footer-col h4 {
    text-align: center;
    font-size: 18px;
    color: #eee;
}

.footer-col ul {
    list-style-type: none;
}

.footer-col li a {
    display: inline-block;
    color: #eee;
    text-align: center;
    text-decoration: none;
}

.footer p {
    margin: 0px;
    text-align: center;
    color: #eee;
}